<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Só uma imagem -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://nameecho.com/images/og-images/article-name.jpg" width="30" height="30" alt="">
  </a>
</nav>
<div class="container-fluid col-sm">
<h1 class="h1">Como usar a Lei Carolina Dieckmann a seu favor</h1>
<h5>Mecanismos de segurança são fundamentais</h5>
<p>A lei só cobre dispositivos protegidos por algum mecanismo de segurança. Ou seja, se você for vítima de um cibercrime, só será reconhecido como tal se seu computador tiver pelo menos uma senha de proteção, uma rede sem fio fechada ou barreiras como o firewall, disponível no UOL Antivírus. No caso de tablets e smartphones, é preciso optar pela tela de bloqueio, dificultando o acesso a dados e aplicativos. </p>
<h5>Não basta denunciar, é preciso ter provas</h5>
<p>Ao perceber que seu aparelho foi invadido, pare de usá-lo imediatamente e desconecte-o da internet, para preservar as provas. Elas são essenciais para o boletim de ocorrência e as investigações. Se algum conteúdo tiver vazado, registre a tela em que ele foi publicado e notifique a página para que retire do ar rapidamente. Por fim, procure um advogado para solicitar sua indenização.</p>
<h5>Namorados curiosos: fiquem atentos</h5>
<p>A lei abre margem para interpretações que podem atingir pessoas bem intencionadas com acesso a dispositivos eletrônicos alheios. Podem ter problemas, por exemplo, especialistas que procuram vulnerabilidades em sistemas protegidos para solucionar falhas. O simples fato de um curioso bisbilhotar o celular - com senha - de sua namorada pode configurar um crime.</p>
<h5>Prevenir é o melhor remédio, concorda?</h5>
<p>O caráter profilático de atuação é, sem sobras de dúvidas, o mais importante do que a investigação.<br>
<br>Especialista orientam para algumas medidas a serem tomadas:</p>
<ul>
<li>Desconfie de preços muitos baixos, não abra e-mails suspeitos;</li>
<li>Mantenha antivírus ativo;</li>
<li>Tente não expor muito da vida íntima e que os pais se tornem vigilantes sobre o uso de seus filhos no mundo virtual.</li>
</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/hf6FMG7AybI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




