<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://nameecho.com/images/og-images/article-name.jpg" width="30" height="30" alt="">
  </a>
</nav>
<div class="container-fluid col-sm m-t-10">
<h1 class="h1 m-10">COMO SE PROTEGER</h1>
<div>
<p><strong>Nas redes sociais:</strong> É preciso cuidado com as ofertas feitas pelo Facebook ou WhatsApp, pois a pessoa pode ser direcionada a uma página fraudulenta. Desconfie sempre de promoções compartilhadas nas redes sociais e não clique em links recebidos por e-mail ou mensagem de texto. É importante consultar sempre as páginas oficiais de empresas para se certificar de que se trata de uma oportunidade real. Além disso, use software de segurança, como antivírus.
</p>
<p> <strong>Compras pela internet:</strong>É direito do consumidor ter acesso às informações sobre a empresa com quem está negociando. O site deve conter o nome empresarial e número de inscrição do fornecedor (CPF ou CNPJ), além do endereço físico e eletrônico, e demais informações necessárias para sua localização e contato. É recomendado ligar para confirmar todos os dados.
 </p>
 <p> <strong> Pesquise a reputação: </strong>Desconfie de pessoas e lojas virtuais desconhecidas que oferecem produtos pela internet, especialmente se estiverem com preço muito abaixo do mercado. Procure a reputação dessas lojas em sites de reclamação. Caso não haja nenhuma reclamação contra a loja, fique atento: pode significar que o site é novo, feito especialmente para golpes.
 </p>
</div>

<div>
    <h3> Dicas de segurança </h3>
    <h5> Antes de efetuar as compras:</h5>
    <p><strong> 1.</strong> Saiba o que e de quem você está comprando. Dê preferência a websites conhecidos, de boa reputação, confiáveis e, que tenham números de atendimento ao cliente e endereço físico. Sempre fique atento ao comprar em novos locais.</p>
    <p><strong> 2.</strong> Mantenha o seu computador e solução antivírus atualizados e seguros. As ameaças explicadas acima ocorrem normalmente sem serem detectadas e acontecem em seu navegador. Portanto, atuam facilmente se não houver a proteção correta. Certifique-se também de usar sempre a última versão dos programas, incluindo navegador e sistema de operacional.
</p>
    <p><strong> 3.</strong> Esteja atento ao receber cupons eletrônicos que você não tenha solicitado. Isso pode ser uma tática dos criminosos cibernéticos para roubar seu dinheiro, sua identidade ou ambos.</p>
    <p><strong> 4.</strong> Sempre siga a regra de ouro da compra on-line: quando algo parece muito bom para ser verdade, desconfie. Evite ofertas e promoções irreais.</p>
    <h5>Ao fazer suas compras:</h5>
    <p><strong> 1.</strong>  Sempre digite o nome do website que você quer visitar na barra de endereço do navegador.</p>
    <p><strong> 2.</strong>  Sempre vá diretamente ao endereço real do website das organizações de caridade para as quais deseja fazer uma doação. Nunca clique em links fornecidos em e-mails ou em resultados de ferramentas de busca.</p>
    <p><strong> 3.</strong>  Certifique-se de que sua transação está criptografada e que a sua privacidade está protegida. Muitos sites usam o protocolo SSL (Secure Sockets Layer) para proteger as informações. Verifique a URL do seu navegador para garantir que ele começa por "https://" e tenha o ícone de um cadeado fechado do lado direito da barra de endereço ou na parte inferior da janela. De acordo com as tendências mais recentes de malware, isso não é garantia, mas é um indicador útil sobre a segurança do site.</p>
    <p><strong> 4.</strong>  Utilize um cartão de crédito exclusivo para compras on-line.</p>
    <p><strong> 5.</strong>  Utilize senhas difíceis e não utilize as mesmas palavras-chaves para todos os websites. Evite utilizar termos e frases comuns.</p>
    <p><strong> 6.</strong>  Para evitar o roubo de informações pessoais em compras tradicionais, mantenha sempre o cartão de crédito próximo a você e utilize caixas eletrônicos conhecidos e de confiança.</p>
    <h5>Depois de fazer suas compras:</h5>
    <p><strong> 1.</strong>  Verifique seus extratos de banco e de cartões de crédito para conferir se há erros e transações suspeitas.</p>
    <p><strong> 2.</strong>  Utilize um serviço de monitoramento de crédito para alertá-lo sobre possíveis problemas.</p>


</div>
    <div class="align-self-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/02Zp747xyj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

