<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://nameecho.com/images/og-images/article-name.jpg" width="30" height="30" alt="">
  </a>
</nav>
<h1 class = "m-8"> Sejá nem vindo </h1>
<a href="./fraudes"> Fraudes</a>/
<a href="./crimes"> Crimes</a>/
