<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<nav class="navbar navbar-light bg-secondary">
  <a class="navbar-brand" href="/">
    <img src="https://image.flaticon.com/icons/png/512/69/69524.png" width="30" height="30" alt="">
  </a>
</nav>
<div class="bg-white">
<div class="container-fluid col-sm-10 bg-light">
<h1 class = "m-8">Crimes Cibernéticos e Fraudes na Web</h1>
<div id="carouselExampleIndicators" class="carousel slide col-md-12" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/crimes"><img class="d-block w-100" src="http://www.bitmag.com.br/wp-content/uploads/2015/05/data-theft.jpg" alt="Primeiro Slide"></a>
          <div class="carousel-caption d-none d-md-block">
    <p>Crimes Cibernéticos (Lei Carolina Dieckmann)</p>
  </div>
    </div>
    <div class="carousel-item">
      <a href="/fraudes"><img class="d-block w-100" src="https://www.elfinancierocr.com/resizer/8cRnt7jbfyjYmA34QqXmYyicLP0=/600x0/center/middle/filters:quality(100)/arc-anglerfish-arc2-prod-gruponacion.s3.amazonaws.com/public/BYLF3G2IHBFUHJIKW5IVOIA3CA.jpg" alt="Segundo Slide"></a>
          <div class="carousel-caption d-none d-md-block">
    <p>Fraudes na Web</p>
  </div>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>

</div>
